#diagramContainer {
  padding: 20px;
  width:80%; height: 200px;
  border: 1px solid gray;
}

.item {
  height:80px; width: 80px;
  border: 1px solid blue;
  float: left;
  position: absolute;
}

.box {
  height:150px; width: 150px;
  float: left;
  position: absolute;
  text-align: center;
  background: rgb(175, 177, 181);
}
