#diagramContainer {
  padding: 20px;
  width:80%; height: 200px;
  border: 1px solid gray;
}

.item {
  height:80px; width: 80px;
  border: 1px solid blue;
  float: left;
  position: absolute;
}

.box {
  height: 150px; width: 150px;
  float: left;
  position: absolute;
  text-align: center;
  border: 1px solid black;
}

header, main, footer {
  padding-left: 300px;
}

html, body {
    height: 100%;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
  padding-left: 0;
  }
}

#create {
  background-color: #0097A7;
  float: left;
  width: 50%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 6em;
  padding-top: 20%;
  cursor: hand;
}

#vote {
  background-color: #607D8B;
  margin-left: 50%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 6em;
  padding-top: 20%;
  cursor: hand;
}
