<!DOCTYPE HTML>
<html lang="en">
{{> header}}
<body style="background-color:#efefef">
  {{> navbar}}
  <div id="checkModal" class="modal">
    <div class="modal-content">
      <div class="input-field col s6">
        <input id="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input id="password" type="password" class="validate">
        <label for="password">Password (optional)</label>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row" style="padding-top: 3em;">
        <p>
          Instructions: <br>
          - The box initially shown will be the main issue and will be the name of the poll. <br>
          - To add more questions, click either the plus(+) or minus(-) button.
          These correspond to the pro or con arguments for that question. <br>
          - A pro argument is something that directly supports the question. <br>
          - A con argument is something that diputes that question. <br>
          - Each box can be dragged around by clicking on the white space
          around the plus/minus buttons. <br>
        </p>
      </div>
      <div class="center-align" style="padding:20%" id="boxContainer"></div>
      <div>
        <button class="btn z-depth-0" id="submit-poll">Submit</button>
    </div>
  </div>

  <script>id = 0; list = [];</script>
  <script src="/src/Box.js"></script>
  <script src="/src/create.js"></script>
</body>
</html>
