<!DOCTYPE HTML>
<html lang="en">
{{> header}}
<body style="background-color:#efefef">
  <div id="boxContainer">
  </div>

  <script>id = 0; list = [];</script>
  <script src="/src/Box.js"></script>
  <script src="/src/create.js"></script>
</body>
</html>
