<!doctype html>
<html lang="en">
{{> header}}
<body>
  <div id="create" class="left-homepage col s6" align="center"> Create a poll</div>
  <div id="smart" class="left-homepage" align="right">smart</div>
  <div id="vote" class="right-homepage col s6" align="center"> Vote on a poll</div>
  <div id="poll" class="right-homepage" align="left">POLL</div>

  <script src="/src/index.js"></script>
</body>
</html>
